In [4]:
import pandas as pd

In [2]:
df_dispatch = pd.read_csv('/home/bastian/nem-data/clean/dispatch_price.csv', index_col=0, parse_dates=True)

In [3]:
df_dispatch.sort_index(ascending=False)

,INTERVENTION NSW1,INTERVENTION QLD1,INTERVENTION SA1,INTERVENTION TAS1,INTERVENTION VIC1,RRP NSW1,RRP QLD1,RRP SA1,RRP TAS1,RRP VIC1
tempus_interval_time,,,,,,,,,,
2018-09-30 23:55:00,0.0,0.0,0.0,0.0,0.0,59.52000,54.88858,85.00003,93.21690,96.33543
2018-09-30 23:50:00,0.0,0.0,0.0,0.0,0.0,59.52000,55.27444,96.10016,111.72000,108.67973
2018-09-30 23:45:00,0.0,0.0,0.0,0.0,0.0,59.51983,54.90880,115.00006,125.55753,130.33619
2018-09-30 23:40:00,0.0,0.0,0.0,0.0,0.0,63.63926,59.95000,115.00006,122.28489,127.86460
2018-09-30 23:35:00,0.0,0.0,0.0,0.0,0.0,63.61185,59.95000,115.00004,123.63876,128.67790
...,...,...,...,...,...,...,...,...,...,...
2009-07-01 00:20:00,0.0,0.0,0.0,0.0,0.0,19.16862,17.65000,16.33409,13.24149,11.80000
2009-07-01 00:15:00,0.0,0.0,0.0,0.0,0.0,20.36000,18.61130,17.62366,14.27313,12.81297
2009-07-01 00:10:00,0.0,0.0,0.0,0.0,0.0,20.36000,18.61760,18.12316,15.90246,15.39000
2009-07-01 00:05:00,0.0,0.0,0.0,0.0,0.0,20.36000,18.81009,17.82049,16.05704,15.50000
2009-07-01 00:00:00,0.0,0.0,0.0,0.0,0.0,19.15450,17.65000,16.73028,15.67154,15.50000

In [5]:
df_dispatch.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 973152 entries, 2009-07-01 00:00:00 to 2018-09-30 23:55:00
Data columns (total 10 columns):
INTERVENTION NSW1    973152 non-null float64
INTERVENTION QLD1    973152 non-null float64
INTERVENTION SA1     973152 non-null float64
INTERVENTION TAS1    973152 non-null float64
INTERVENTION VIC1    973152 non-null float64
RRP NSW1             973152 non-null float64
RRP QLD1             973152 non-null float64
RRP SA1              973152 non-null float64
RRP TAS1             973152 non-null float64
RRP VIC1             973152 non-null float64
dtypes: float64(10)
memory usage: 81.7 MB

In [23]:
df_p5min = pd.read_csv('/home/bastian/nem-data/clean/p5min.csv', index_col=0, parse_dates=True)

In [24]:
df_p5min.sort_index(ascending=False)

,RRP 0 days 00:00:00 NSW1,RRP 0 days 00:00:00 QLD1,RRP 0 days 00:00:00 SA1,RRP 0 days 00:00:00 TAS1,RRP 0 days 00:00:00 VIC1,RRP 0 days 00:05:00 NSW1,RRP 0 days 00:05:00 QLD1,RRP 0 days 00:05:00 SA1,RRP 0 days 00:05:00 TAS1,RRP 0 days 00:05:00 VIC1,...,RRP 0 days 00:50:00 NSW1,RRP 0 days 00:50:00 QLD1,RRP 0 days 00:50:00 SA1,RRP 0 days 00:50:00 TAS1,RRP 0 days 00:50:00 VIC1,RRP 0 days 00:55:00 NSW1,RRP 0 days 00:55:00 QLD1,RRP 0 days 00:55:00 SA1,RRP 0 days 00:55:00 TAS1,RRP 0 days 00:55:00 VIC1
2018-07-31 23:55:00,53.75000,52.57572,62.42847,5.04000,19.63194,53.75000,52.56250,115.00001,5.04000,10.50000,...,60.81017,54.41224,78.69000,10.47000,10.50000,61.00000,54.32602,78.69000,10.47000,10.50000
2018-07-31 23:50:00,53.62034,51.78317,61.54479,5.04000,19.65367,53.75000,52.22069,60.91877,5.04000,19.62669,...,59.90420,53.73009,78.69000,10.47000,10.50000,60.81017,53.79985,78.69000,10.47000,10.50000
2018-07-31 23:45:00,53.75000,51.92975,69.94850,5.04000,52.00305,53.75000,52.26073,60.91350,5.04000,19.62774,...,63.01000,57.69678,78.69000,10.47000,10.50000,60.81017,54.56572,78.69000,10.47000,10.50000
2018-07-31 23:40:00,58.00000,55.34916,74.04497,10.47000,56.10575,53.75000,51.76401,66.80944,10.47000,51.59937,...,63.01000,58.93075,78.69000,10.47000,10.50000,63.01000,57.74966,78.69000,10.47000,10.50000
2018-07-31 23:35:00,61.73474,59.73009,76.44245,10.47000,60.18263,55.55281,53.73018,73.65843,10.47000,53.73327,...,53.74952,52.33127,78.69000,19.65643,10.50000,63.01000,59.75393,78.69000,16.09045,10.50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-07-01 00:20:00,19.16862,17.65000,16.33409,13.24149,11.80000,16.96000,15.72547,14.63131,13.34127,11.59000,...,17.28508,16.03020,15.20630,14.86981,15.39000,16.96000,15.60703,14.78148,14.58889,15.09944
2009-07-01 00:15:00,20.36000,18.61130,17.62366,14.27313,12.81297,19.31395,17.64985,16.47319,13.22560,11.70000,...,19.31168,17.65000,17.38720,16.61921,17.19939,17.41881,16.03725,15.53173,14.97617,15.50000
2009-07-01 00:10:00,20.36000,18.61760,18.12316,15.90246,15.39000,20.36000,18.61707,17.67699,14.99005,14.00569,...,20.36000,18.80995,17.99134,17.35018,17.90720,19.16644,17.65000,17.09700,16.53921,17.07067
2009-07-01 00:05:00,20.36000,18.81009,17.82049,16.05704,15.50000,20.36000,18.81000,17.87292,15.98959,15.39000,...,17.31248,16.31000,11.85936,11.29054,13.10524,20.36000,18.76069,18.14174,17.76972,18.18200
2009-07-01 00:00:00,19.15450,17.65000,16.73028,15.67154,15.50000,19.29849,17.65000,17.16265,15.76548,15.50000,...,17.00000,16.31000,14.28441,12.48179,11.70000,17.00000,16.31000,14.33893,12.82705,12.25904

In [27]:
df_predispatch = pd.read_csv('/home/bastian/nem-data/clean/predispatch.csv', index_col=0, parse_dates=True)

In [31]:
df_predispatch.sort_index(ascending=False)

,RRP 0 days 00:00:00 NSW1,RRP 0 days 00:00:00 QLD1,RRP 0 days 00:00:00 SA1,RRP 0 days 00:00:00 TAS1,RRP 0 days 00:00:00 VIC1,RRP 0 days 00:30:00 NSW1,RRP 0 days 00:30:00 QLD1,RRP 0 days 00:30:00 SA1,RRP 0 days 00:30:00 TAS1,RRP 0 days 00:30:00 VIC1,...,RRP 0 days 15:00:00 NSW1,RRP 0 days 15:00:00 QLD1,RRP 0 days 15:00:00 SA1,RRP 0 days 15:00:00 TAS1,RRP 0 days 15:00:00 VIC1,RRP 0 days 15:30:00 NSW1,RRP 0 days 15:30:00 QLD1,RRP 0 days 15:30:00 SA1,RRP 0 days 15:30:00 TAS1,RRP 0 days 15:30:00 VIC1
2018-08-01 03:30:00,53.74992,52.15541,78.69000,5.04000,10.50000,53.75000,53.56574,57.10165,-0.73000,10.50000,...,299.60000,104.96000,346.97127,36.81000,346.59918,299.60000,104.96000,323.77918,36.81000,332.35753
2018-08-01 03:00:00,53.75000,51.81952,78.69000,5.04000,10.50000,53.75004,51.80482,62.13345,5.04000,10.14000,...,299.60000,104.96000,342.25030,36.81000,346.90214,299.60000,104.96000,346.92292,36.81000,346.55089
2018-08-01 02:30:00,56.80661,53.73011,78.69000,-0.79000,10.50000,53.75004,51.82368,61.35282,5.04000,10.50000,...,299.60000,120.15005,322.47582,36.81000,335.23051,299.60000,104.96000,342.20945,36.81000,346.86101
2018-08-01 02:00:00,61.00000,57.76152,69.55434,-0.79000,10.50000,56.43337,53.73006,78.69000,0.00000,10.50000,...,119.49919,86.00000,199.32414,36.78000,137.42521,299.60000,120.15005,322.41794,36.81000,335.17141
2018-08-01 01:30:00,63.01000,58.07662,78.69000,5.04000,10.50000,60.81017,56.81759,71.13749,5.04000,10.50000,...,94.01502,81.54578,153.48209,39.03031,109.87000,117.57336,86.00000,196.11998,43.05064,135.21608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-07-01 06:00:00,22.00000,21.63789,11.87923,15.38253,16.66234,22.00040,21.97000,12.84656,18.22881,18.35571,...,22.00000,21.88415,22.44997,19.70622,20.22807,22.00000,21.38952,21.97115,18.86277,19.00000
2009-07-01 05:30:00,17.68750,18.00000,0.00006,9.58332,11.22721,22.00000,21.79578,13.96710,15.05664,16.54103,...,22.00000,21.44274,23.22560,20.23273,20.64666,22.00000,21.88408,22.92051,19.84987,20.37545
2009-07-01 05:00:00,15.26723,16.31000,8.32665,9.13640,9.20000,18.50429,18.00000,8.94612,9.76998,12.21235,...,23.27202,21.98008,24.48718,21.64842,21.97351,22.00000,21.44446,23.22571,20.34131,20.64676
2009-07-01 04:30:00,12.00000,12.28786,8.31984,9.16057,9.20000,15.53934,16.31000,8.93877,9.84953,9.84000,...,25.01000,23.17831,26.37412,23.53836,23.95570,23.37501,21.98008,24.59522,21.69284,22.07745
2009-07-01 04:00:00,6.72958,6.54955,4.27395,5.65893,5.69570,12.00000,12.38159,8.23795,9.08806,9.20000,...,27.61992,24.68000,32.25657,28.18352,28.60674,25.01000,23.17831,26.37451,23.60285,23.95728

In [5]:
df_trading_price = pd.read_csv('/home/bastian/nem-data/clean/trading_price.csv', index_col=0, parse_dates=True)

In [8]:
import datetime as dt
df_trading_price.sort_index(ascending=False)
df_trading_price = df_trading_price[df_trading_price.index <= dt.datetime(2018,7,31,23,55,0)].sort_index(ascending=False)
df_trading_price.head()

                      RRP NSW1  RRP QLD1  RRP SA1  RRP TAS1  RRP VIC1
tempus_interval_time
2018-07-31 23:30:00      57.03     55.18    72.09      7.76     55.06
2018-07-31 23:00:00      55.81     56.00    49.86     30.71     45.43
2018-07-31 22:30:00      60.75     61.35    76.52     10.47     50.55
2018-07-31 22:00:00      63.56     64.45    81.66     10.47     62.38
2018-07-31 21:30:00      62.48     62.74    83.25     34.45     62.36

In [35]:
df_unit_scada = pd.read_csv('/home/bastian/nem-data/clean/unit_scada.csv', index_col=0, parse_dates=True)

In [36]:
df_unit_scada.sort_index(ascending=False)

,SCADAVALUE AGLHAL,SCADAVALUE AGLSOM,SCADAVALUE ANGAS1,SCADAVALUE ANGAS2,SCADAVALUE ANGAST1,SCADAVALUE APS,SCADAVALUE ARWF1,SCADAVALUE BALDHWF1,SCADAVALUE BANN1,SCADAVALUE BARCALDN,...,SCADAVALUE WW8,SCADAVALUE YABULU,SCADAVALUE YABULU2,SCADAVALUE YAMBUKWF,SCADAVALUE YARWUN_1,SCADAVALUE YSWF1,SCADAVALUE YWPS1,SCADAVALUE YWPS2,SCADAVALUE YWPS3,SCADAVALUE YWPS4
tempus_interval_time,,,,,,,,,,,,,,,,,,,,,
2018-07-31 23:55:00,0.0,0.0,NaN,NaN,0.0,NaN,65.8,105.23000,0.0,0.00000,...,NaN,0.0,0.0,27.400000,119.70000,28.200001,338.84558,376.69113,373.50253,395.23798
2018-07-31 23:50:00,0.0,0.0,NaN,NaN,0.0,NaN,67.0,105.73600,0.0,0.00000,...,NaN,0.0,0.0,27.500000,120.75999,28.400000,336.33923,378.19495,374.06708,394.39114
2018-07-31 23:45:00,0.0,0.0,NaN,NaN,0.0,NaN,81.0,104.30000,0.0,0.00000,...,NaN,0.0,0.0,25.700001,119.70000,28.299999,335.58734,378.44556,365.03418,385.64050
2018-07-31 23:40:00,0.0,0.0,NaN,NaN,0.0,NaN,80.3,104.87801,0.0,0.00000,...,NaN,0.0,0.0,26.000000,118.29000,28.299999,337.09113,378.19495,368.70380,390.72153
2018-07-31 23:35:00,0.0,0.0,NaN,NaN,0.0,NaN,78.2,105.14000,0.0,0.00000,...,NaN,0.0,0.0,27.400000,119.75000,28.500000,339.84811,378.44556,369.55063,395.80252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-11-01 00:20:00,0.0,0.0,0.0,0.0,NaN,156.125,NaN,NaN,NaN,0.00000,...,269.79376,0.0,0.0,5.000000,164.19000,NaN,360.14935,360.90128,391.85065,381.68860
2010-11-01 00:15:00,0.0,0.0,0.0,0.0,NaN,156.500,NaN,NaN,NaN,0.00000,...,282.09369,0.0,0.0,4.200000,163.69000,NaN,358.89621,358.64557,389.02786,379.14810
2010-11-01 00:10:00,0.0,0.0,0.0,0.0,NaN,156.125,NaN,NaN,NaN,1.07839,...,291.48755,0.0,0.0,2.200000,165.91000,NaN,360.90128,360.90128,390.15695,379.99493
2010-11-01 00:05:00,0.0,0.0,0.0,0.0,NaN,156.125,NaN,NaN,NaN,0.98462,...,303.80621,0.0,0.0,2.400000,165.95999,NaN,359.89874,361.15189,392.97974,381.40634
2010-11-01 00:00:00,0.0,0.0,0.0,0.0,NaN,156.375,NaN,NaN,NaN,0.98462,...,313.18121,0.0,0.0,2.300000,166.51999,NaN,359.64810,358.39493,396.36710,381.68860

In [79]:
DUID_SCADA = []
for col in pd.read_csv('/home/bastian/nem-data/clean/unit_scada.csv').columns: 
    DUID_SCADA.append(col.split())

In [113]:
DUID_SCADA.remove(DUID_SCADA[0])
DUID_SCADA

DUID_SCADA1 = []
for i in DUID_SCADA:
    DUID_SCADA1.append(i[1])
#DUID_SCADA1

In [102]:
df = pd.read_csv('/home/bastian/nem-data/xml_raw/_201907010000/PUBLIC_DVD_DISPATCH_UNIT_SCADA_201907010000.CSV')
df.head()

,C,SETP.WORLD,DVD_DISPATCH_UNIT_SCADA,AEMO,PUBLIC,2019/08/07,11:45:01,0000000311264905,Unnamed: 8,0000000311264855
0,I,DISPATCH,UNIT_SCADA,1.0,SETTLEMENTDATE,DUID,SCADAVALUE,NaN,NaN,NaN
1,D,DISPATCH,UNIT_SCADA,1.0,2019/07/01 00:05:00,BARCSF1,0,NaN,NaN,NaN
2,D,DISPATCH,UNIT_SCADA,1.0,2019/07/01 00:05:00,BUTLERSG,8.899999,NaN,NaN,NaN
3,D,DISPATCH,UNIT_SCADA,1.0,2019/07/01 00:05:00,CALL_A_4,0,NaN,NaN,NaN
4,D,DISPATCH,UNIT_SCADA,1.0,2019/07/01 00:05:00,CAPTL_WF,8.32,NaN,NaN,NaN

In [110]:
DUID2 = []
for i in df.iloc[:,5].unique():
    DUID2.append(str(i))
DUID2.sort()
#DUID2

In [97]:
print(len(DUID_SCADA1))
print(len(DUID2))

335
333